{
  "extends": "airbnb-base",
  "rules": {
    "no-underscore-dangle": "off",
    "no-console": "off",
    "linebreak-style": "off",
    "import/extensions": "off",
    "editor.formatOnSave": true
    
  },
  "parserOptions": {
    "ecmaVersion": 2022,
    "sourceType": "module"
  }
}